
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/
/* generial style */
body {
  background-color: #F9F9FA;
}

header {
  background: #EEE url(/images/0625721a.header.png);
  height: 99px;
  color: #555;
}
header .head {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
}
header .logo {
  float: left;
  margin-right: 20px;
  padding: 34px 0;
  font: 24px 'Arvo';
  font-weight: bold;
  text-transform: uppercase;
}
header .logo>.subtitle {
  font-size: 16px;
}

footer {
  padding-left: 100px;
  width: 400px;
  font: 14px 'Signika';
  text-align: center;
  color: #999;
}

legend {
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(221, 221, 221);
  font-size: 21px;
  color: rgb(51, 51, 51);
  line-height: 40px;
}

.hr_view {
  margin-top: 10px;
}

/* color class */
.green {
  color: rgb(18, 238, 18);
}

.red {
  color: red;
}

/* breadcrump */
/*.breadcrumbs a.active, .breadcrumbs span.active{
  background: #6161c8;
  background: -webkit-linear-gradient(left top, rgb(36, 36, 44) 0%, rgb(102, 102, 204) 100%);
}
*/
 /* style for step bar */
 .stepbar {
  margin-top: 40px;
 }
.stepbar .active{
  color: white; 
  background: #0044cc;
}
.stepbar .active:after {
  
  background: #0044cc;
}


/* style for step content bar */
.stepcontent {
  margin-top: 20px;
  height: 470px;
  /*background-color:white;*/
}
.stepcontent form{
  background-color: white;
  background: white;

}

/* style for exchange */
.stepcontent .exchange{
  margin-left: 20px;
}
.stepcontent .exchange_content{
  background-color: white;
  padding-top: 20px;
  height: 240px;
  margin-left: 2px;
}
.stepcontent .exchange_form{
  margin-top: 40px;
}
.stepcontent .exchange_form input{
  width: 130px;
}

.stepcontent .exchange_form span.promot-error{
  width: 130px;
}
.stepcontent .exchange_form input{
  width: 130px;
}

.stepcontent .exchange_content .exchange_tips {
  line-height: 23px;
  margin-top: 28px;
}
/* style for exchange confirm */
.stepcontent .exchange_confirm{
  margin-left: 22px;
}
.stepcontent .exchange_confirm_form,.mobile_preview {
  /*height: 400px;*/
  height: auto;
}
.stepcontent .exchange_confirm_form,.mobile_preview {
  margin-left: 0;
  background-color: white;
}

.stepcontent .package_cell {
  /*color: rgb(70, 136, 71);*/
  /*background-color: rgb(223, 240, 216);*/
  margin-left: 0;
  border: 1px solid rgb(214, 233, 198);
  font-size: 14px;
  font-weight: bold;
  line-height: 43px;
  text-align: center;
  width: 170px;
}

.stepcontent .package_cell_selected {
  color: rgb(70, 136, 71);
  background-color: rgb(223, 240, 216);
}

.stepcontent .form-actions {
  margin-bottom: 0;
}

/* style for mobile choose */
.mobile_choose .span{
  margin-left: 2px;
}
.mobile_choose .span{
  margin-left: 0px;
  background-color: white;
}
.mobile_choose>.row{
  margin-left: 15px;
}
.mobile_choose .mobile_choose_content {
  /*background-color: white;*/
}
.mobile_choose .outer_mobile_cell {
  background-color: white;
  /*line-height: : 80px;*/
  /*font-size: 22px;*/
  border: 1px solid rgb(231, 231, 231);
  margin-bottom: 10px;
}
.mobile_choose .mobile_cell {
  /*background-color: white;*/
  line-height: 50px;
  font-size: 22px;
  /*border: 1px solid rgb(231, 231, 231);*/

}
.mobile_choose .outer_mobile_cell:hover {
  border-color:rgb(111, 231, 231);
}
/*.mobile_choose .outer_mobile_cell:hover:after {
  border-color:rgb(111, 231, 231);
}
*/
.mobile_choose .mobile_cell .number_cell{
  padding-left: 40px;
}

.mobile_choose .tip_cell{
  /*height: 10px;*/
  height: 40px;
  padding-left: 40px;
  /*visibility: hidden;*/
}

.mobile_choose .tip_cell:hover{
  border-color:rgb(111, 231, 231);
}
.mobile_choose .tip_cell:hover:after{
  visibility:hidden;
}

.mobile_choose [class*="span"] {
  margin-left: 0px;
}

/* style for supply address */
.stepcontent .supply_address {
  line-height: 40px;
}

/* style for exchange finish */
.stepcontent .exchange_finish .announcement{
  margin-left: 60px;
}
.stepcontent .exchange_finish .announcement > .row{
  margin-left: 50px;
  margin-bottom: 20px;
}
.stepcontent .exchange_finish .announcement > .headRow{
  font-size: 20px;
}
.stepcontent .exchange_finish .announcement > .headRow .check{
  color: rgb(18, 238, 18);
  margin-right: 14px;
}















.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}